# ==========================================
# INTELLIJ IDEA
# ==========================================
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

# ==========================================
# CLASSES GÉNÉRÉES
# ==========================================
# Classes Java générées par Avro
**/generated-sources/
**/generated-test-sources/

#éviter le déposer le dossier target
target/
*.class
.settings/
.project
.classpath