<configuration>

    <!-- Logs CONSOLE -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- TES logs -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Kafka : SILENCE -->
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.apache.zookeeper" level="WARN"/>
    <logger name="kafka" level="WARN"/>

</configuration>
